$text-color: (
  light: #333,
  dark: #9e9e9e,
);

$font-family: "-apple-system,system-ui,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue , PingFang SC , Hiragino Sans GB , Microsoft YaHei ,Arial!important";
$font-family-code: "JetBrains Mono, monospace";
$code-bg-color: #f6f5f5;
